body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather',serif;
    font-size: 200%;
    color: #40514E;
    
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAf6f6;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
h1{
    margin: 50px,auto,0,auto;
    font-size: 5.625rem;
    font-family:'Sacramento', cursive;
    color:#66bfbf;
} 
h2{
    font-family: 'Montserrat',sans-serif;
    color:#66bfbf;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color:#11999E;
}
.top{
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
    
    
}
.middle{
    margin: 100px 0;
    
    
}
.bottom{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    
}
.intro{
    width: 200px;
    margin: auto;
}
.pro{
    text-decoration: underline;
}
p{
    line-height: 2;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 400px;

}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 40px;
}

.skill-row{
    width: 50%;
    position: relative;
    margin:100px auto 100px auto;
    text-align: left;
    
    
}
.img1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.foot{
    padding-bottom: 20px 0;
    color: #EAf6f6;
    font-size: 0.75rem
}
hr{
    border: dotted #EAf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
